In [2]:
!pip3 install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-py2.py3-none-any.whl (557 kB)
     |████████████████████████████████| 557 kB 1.2 MB/s eta 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
WARNING: You are using pip version 20.2.3; however, version 24.0 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [12]:
import mysql.connector
mydb = mysql.connector.connect(host='localhost',user='root',
                              password='725@Mysql')
print(mydb.connection_id)

10

In [13]:
cur = mydb.cursor()

In [14]:
cur.execute("show databases")

In [15]:
for dbs in cur:
    print(dbs)

('CompanyDB',)
('db1',)
('db2',)
('f_db1',)
('f_db2',)
('idb1',)
('idb2',)
('idb3',)
('idb4',)
('idb5',)
('information_schema',)
('mydb',)
('mydb_emp',)
('mysql',)
('mysql_db',)
('performance_schema',)
('sys',)

In [16]:
cur.execute("use CompanyDB")

In [17]:
cur.execute("show tables")

In [18]:
for tables in cur:
    print(tables)

('departments',)
('Employees',)
('employees_backup',)

In [19]:
cur.execute("select * from Employees")

In [20]:
for data in cur:
    print(data)

(1, 'John', 'Doe', datetime.date(2022, 12, 12), 1, Decimal('50000.00'))
(2, 'Joe', 'Biden', datetime.date(2020, 10, 2), 2, Decimal('60000.00'))
(3, 'Tim', 'Cook', datetime.date(2022, 1, 1), 2, Decimal('40000.00'))
(4, 'Donald', 'Trump', datetime.date(2019, 2, 2), 1, Decimal('60000.00'))
(5, 'Pawan', 'Kalyan', datetime.date(2018, 1, 12), 4, Decimal('30000.00'))

In [21]:
cur.close()

True

In [22]:
import mysql.connector
mydb = mysql.connector.connect(host='localhost',user='root',
                              password='725@Mysql',database="CompanyDB")
print(mydb.connection_id)

11

In [25]:
cur = mydb.cursor()

query = "select * from Employees"

cur.execute(query)

for data in cur:
    print(list(data))

cur.close()

[1, 'John', 'Doe', datetime.date(2022, 12, 12), 1, Decimal('50000.00')]
[2, 'Joe', 'Biden', datetime.date(2020, 10, 2), 2, Decimal('60000.00')]
[3, 'Tim', 'Cook', datetime.date(2022, 1, 1), 2, Decimal('40000.00')]
[4, 'Donald', 'Trump', datetime.date(2019, 2, 2), 1, Decimal('60000.00')]
[5, 'Pawan', 'Kalyan', datetime.date(2018, 1, 12), 4, Decimal('30000.00')]

True