**Database Normalisation and Entity Relationship(ER) Mode**
* Database Normalisation is the process of organising the attributes and tables of a relational database to minimize redundancy and dependency.
* The goal is to divide large tables into smaller, related tables and define relationship between them to improve data integrity and reduce chances of anomalies during data manipulation.

In [11]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

In [2]:
#create a data table for Authors with columns - AuthorsId, AuthorName
mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

query = "create table new_authors (authorId int primary key, authorName varchar(50) not null);"

cur.execute(query)
mydb.commit()
print("Author table created")

Author table created

In [3]:
#Insert data values

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

query = "insert into new_authors (authorId,authorName) values (%s,%s)"

value = [(1, "Harper Lee"),(2, "J.K. rolling"),(3, "George Orwell")]
#value = (2, "J.K. rolling")
#value = (3, "George Orwell")

cur.executemany(query,value)
mydb.commit()
print("Authors name updated")

Authors name updated

In [4]:
query = "select * from new_authors"

cur.execute(query)

for result in cur:
    print(result)

(1, 'Harper Lee')
(2, 'J.K. rolling')
(3, 'George Orwell')

In [5]:
#Create a data table for books with columns - BookId, Title, Genre, AuthorId, Year

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

query = """
create table new_Books (BookID int primary key, Title varchar(50) not null , 
Genre varchar(50), Year int, authorId int)
"""

cur.execute(query)
mydb.commit()

print("Book table created")

Book table created

In [6]:
mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

query = "insert into new_books (BookID,Title,Genre,Year,authorId) values (%s,%s,%s,%s,%s)"
value = [(1, "Harry Potter" , "Fantasy" , 97 , 2),
         (2,"Harry Potter & Chambers of Secrets","Fantasy",1998 , 2),
         (3,"ABCDE","Fiction",2000 , 1),
         (4,"QWERSTEY" , "Satire" , 2010 , 1),
         (5, "XYZ" , "Fiction" , 2012 , 3),
         (6, "axcfre" , "Satire" , 2019 , 3)]

#value = (4,"QWERSTEY" , "Satire" , 2010 , 1)
#value = (5, "XYZ" , "Fiction" , 2012 , 3),
#value = (6, "axcfre" , "Satire" , 2019 , 3)

cur.executemany(query,value)
mydb.commit()
print("Authors name updated")

Authors name updated

In [7]:
query = "select * from new_books"

cur.execute(query)

for result in cur:
    print(result)

(1, 'Harry Potter', 'Fantasy', 97, 2)
(2, 'Harry Potter & Chambers of Secrets', 'Fantasy', 1998, 2)
(3, 'ABCDE', 'Fiction', 2000, 1)
(4, 'QWERSTEY', 'Satire', 2010, 1)
(5, 'XYZ', 'Fiction', 2012, 3)
(6, 'axcfre', 'Satire', 2019, 3)

In [10]:
query = """
select b.title, b.genre, b.year, a.authorName from new_books b join authors a on b.authorId = a.authorId
"""

cur.execute(query)

for result in cur:
    print(result)

('Harry Potter', 'Fantasy', 97, 'J.K. rolling')
('Harry Potter & Chambers of Secrets', 'Fantasy', 1998, 'J.K. rolling')
('ABCDE', 'Fiction', 2000, 'Harper Lee')
('QWERSTEY', 'Satire', 2010, 'Harper Lee')
('XYZ', 'Fiction', 2012, 'George Orwell')
('axcfre', 'Satire', 2019, 'George Orwell')

**Stored Procedure**
* Stored Procedures and triggers are advanced database feature that can help automate tasks and gives power of code reusability

In [35]:
mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

query = """
create procedure getbookinfobyauthorId(IN author_id int) 
BEGIN 
select b.title,b.genre,b.year 
from new_books b 
join new_authors a on b.authorId = a.authorId where a.authorId = author_id;
end 
"""

cur.execute(query)
mydb.commit()

In [36]:

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

cur.callproc('getbookinfobyauthorId',(2,))

#print(cur)

result = cur.fetchall()

for res in cur:
    print(res)

#for row in result:
#    print(row)
    
cur.close()
mydb.close()