In [2]:
#Python code to establish a connection with mysql server to create a data base
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql')
print(mydb.connection_id)

15

In [3]:
#Create a database

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql')
cur = mydb.cursor()
cur.execute("create DATABASE db3")
print('db3 database created')

db3 database created

In [4]:
#Create a data table in db3

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')

cur = mydb.cursor()
s = "create table newbook(bookid integer(4),title varchar(20),price float(5,2))"
cur.execute(s)
mydb.commit()
print('Data Table newbook is created in db2 to store data')

Data Table newbook is created in db2 to store data

In [5]:
#insert table items
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = "insert into newbook (bookid,title,price) values(%s,%s,%s)"
value = (2,"PHP",250)
cur.execute(s,value)       #to insert a single row
mydb.commit()
print('value added in table row')

value added in table row

In [6]:
#insert table items
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = "insert into newbook (bookid,title,price) values(%s,%s,%s)"
value = [(3,"PHP",250),(4,"HTML",230),(5,"Java",400)]
cur.executemany(s,value)        #executemany() - if mutilple rows info is getting added
mydb.commit()
print('multiple values added in table row')

multiple values added in table row

In [7]:
#read table items
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
print(result)

[(2, 'PHP', 250.0), (3, 'PHP', 250.0), (4, 'HTML', 230.0), (5, 'Java', 400.0)]

In [8]:
#read table items
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
              print(res)

(2, 'PHP', 250.0)
(3, 'PHP', 250.0)
(4, 'HTML', 230.0)
(5, 'Java', 400.0)

In [9]:
#Update table items

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()
#s = "update newbook set price = price+10"
s = "update newbook set price = price+10 where price>300"
cur.execute(s)
mydb.commit()
print('price value is updated')

price value is updated

In [10]:
#read table items
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
              print(res)

(2, 'PHP', 250.0)
(3, 'PHP', 250.0)
(4, 'HTML', 230.0)
(5, 'Java', 410.0)

In [11]:
#Delete table items


import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()
s = "delete from newbook where title='JAVA'"
cur.execute(s)
mydb.commit()
print('Java Sample deleted')

Java Sample deleted

In [12]:
#read table items
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
              print(res)

(2, 'PHP', 250.0)
(3, 'PHP', 250.0)
(4, 'HTML', 230.0)

In [13]:
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = "insert into newbook (bookid,title,price) values(%s,%s,%s)"
books = [(3,"PHP",260),(3,"PHP",260)]
cur.executemany(s,books)
mydb.commit()
print('PHP rows values are added')

PHP rows values are added

In [14]:
#read table items
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
              print(res)

(2, 'PHP', 250.0)
(3, 'PHP', 250.0)
(4, 'HTML', 230.0)
(3, 'PHP', 260.0)
(3, 'PHP', 260.0)

In [15]:
#Select distinct rows from data table and create a new table
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()
s = """create table newbook2 as
select distinct title,price
from newbook"""
cur.execute(s)
mydb.commit()

In [16]:
sr = "select * from newbook2"
cur.execute(sr)
result = cur.fetchall()
for res in result:
              print(res)

('PHP', 250.0)
('HTML', 230.0)
('PHP', 260.0)

* **Table** ->
  
      *  A structured set of data organized in rows and columns, similar to spreadsheet.
      * Table stores data physically on disk.
      * Data in table can be modified directly using SQL commands.
      * Table enfore data integrity constraints such as primary key, foreign key and unique.
      * Tables typically offers better performance for data retrival and modification.
  

*****

* **View** ->

      *  It is a vitual table that does not store data itself but rather retrives data from one or more tables.
      * Views don't sores data themselves; they only provide a virtual representation of data stored in tables.
      * Data in views cannot be directly modified.
      * Views do not have their own constraints but can be created with constraints inherited from underlying table.
      * Views comparatively shows slower performance because views need to execute the underlying query every time they are accessed.

In [17]:
#create a view with all PHP titles from newbook

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = """create view PHP_view as select * from newbook
where title = 'PHP'"""
cur.execute(s)
mydb.commit()

In [18]:
sr = "select * from PHP_view"
cur.execute(sr)
result = cur.fetchall()
for res in result:
              print(res)

(2, 'PHP', 250.0)
(3, 'PHP', 250.0)
(3, 'PHP', 260.0)
(3, 'PHP', 260.0)

In [21]:
#create a view with all PHP titles from newbook

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = "show tables"
cur.execute(s)
result = cur.fetchall()
for res in result:
              print(res)
    
mydb.commit()

('newbook',)
('newbook2',)
('php_view',)

In [22]:
#WAP to delete table.

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = "drop table newbook2"

cur.execute(s)
mydb.commit()

In [23]:
#create a view with all PHP titles from newbook

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = "show tables"
cur.execute(s)
result = cur.fetchall()
for res in result:
              print(res)
    
mydb.commit()

('newbook',)
('php_view',)

In [25]:
#WAP to delete view.

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = "drop view php_view"

cur.execute(s)
mydb.commit()

In [26]:
#create a view with all PHP titles from newbook

import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

s = "show tables"
cur.execute(s)
result = cur.fetchall()
for res in result:
              print(res)
    
mydb.commit()

('newbook',)

In [34]:
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

#s = "alter table newbook add column quantity integer(4)"
#s = "alter table newbook add column sales float(5,2) after price"
#s = "alter table newbook add column skuid int first"
#s = "alter table newbook drop column bookid"
#s = "update newbook set skuid = 1"
#s = "update newbook set skuid = 2 where title = 'php'"
s = "insert into newbook (skuid,title,price,sales,quantity) values(3,'IOT',360,720,2)"

cur.execute(s)
mydb.commit()

cur.execute("select * from newbook")
for val in cur:
    print(val)

cur.close()
mydb.close()

(2, 'PHP', 250.0, None, None)
(2, 'PHP', 250.0, None, None)
(1, 'HTML', 230.0, None, None)
(2, 'PHP', 260.0, None, None)
(2, 'PHP', 260.0, None, None)
(3, 'IOT', 360.0, 720.0, 2)

In [37]:
import mysql.connector
mydb = mysql.connector.connect(host='localhost',
                               user='root',password='725@Mysql',
                               database='db3')
cur = mydb.cursor()

cur.execute("select * from newbook")
result = cur.fetchall()
cur.close()
mydb.close()

In [40]:
import pandas as pd

df = pd.DataFrame(result , columns = ["Skuid","Title","Price","Sales","Quantity"])

df

   Skuid Title  Price  Sales  Quantity
0      2   PHP  250.0    NaN       NaN
1      2   PHP  250.0    NaN       NaN
2      1  HTML  230.0    NaN       NaN
3      2   PHP  260.0    NaN       NaN
4      2   PHP  260.0    NaN       NaN
5      3   IOT  360.0  720.0       2.0