In [1]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

In [4]:
create_table_query = """
create table if not exists employees(
id int auto_increment primary key,
name varchar(100),
salary decimal(10,2)
)
"""

cur.execute(create_table_query)
print("Data table created successfully")

Data table created successfully

In [7]:
#Creating the insert_employees stored procedure

insert_employee_query = """
create procedure insert_employee(
    IN employee_name varchar(100),
    IN employee_salary decimal(10,2)
)
BEGIN
insert into employees (name,salary) values(employee_name,employee_salary);
END
"""

cur.execute(insert_employee_query)
print("insert_employee stored procedure created succesfully")

insert_employee stored procedure created succesfully

In [8]:
#trigger insert_employee procedure to insert employee details

cur.callproc("insert_employee" , ("John Doe" , 65000.00))
print("Employee_1 added Successully")

cur.callproc("insert_employee" , ("Bipul Kumar" , 75000.25))
print("Employee_2 added Successully")

Employee_1 added Successully
Employee_2 added Successully

In [15]:
#create a stored procedure to read the details of all employees

read_procedure_query = """
create procedure get_all_employees()
BEGIN
    select * from employees;
END
"""

cur.execute(read_procedure_query)
print("Procedure to read data is created")

Procedure to read data is created

In [18]:
#call read_procedure_query

#cur.execute("select * from employees")

cur.callproc("get_all_employees")

for result in cur.stored_results():
    employee = result.fetchall()
    for emp in employee:
        print(emp)

(1, 'John Doe', Decimal('65000.00'))
(2, 'Bipul Kumar', Decimal('75000.25'))

In [19]:
#create a procedure to read details of an employee using name

read_emp_details = """
create procedure get_emp_by_name(IN emp_name varchar(100))
BEGIN
    select * from employees where name = emp_name;
END
"""

cur.execute(read_emp_details)
print("You can use get_emp_by_name procedure to read details of an employee")

You can use get_emp_by_name procedure to read details of an employee

In [21]:
#use get_emp_by_name to read details of an employee

cur.callproc("get_emp_by_name" , ("John Doe",))

for result in cur.stored_results():
    details = result.fetchall()
    for emp in details:
        print(emp)

(1, 'John Doe', Decimal('65000.00'))

In [63]:
#create update_employee_salary stored procedure

update_employee_salary = """
create procedure update_emp_salary(
    IN emp_id int , 
    IN new_salary decimal(10,2)
)
BEGIN
    update employees set salary = new_salary where id = emp_id;
END
"""

cur.execute(update_employee_salary)
print("update_emp_salary stored procedure is created to update salary")

update_emp_salary stored procedure is created to update salary

In [ ]:
cur.callproc("update_emp_salary" , (2,95000.00))
print("Employee id 1 salary is updated")

In [57]:
cur.callproc("get_all_employees")

for result in cur.stored_results():
    employee = result.fetchall()
    for emp in employee:
        print(emp)

(1, 'John Doe', Decimal('65000.00'))
(2, 'Bipul Kumar', Decimal('75000.25'))

In [50]:
#read name of all stored procedures

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

query = """
select ROUTINE_NAME
from information_schema.ROUTINES
where ROUTINE_TYPE = 'PROCEDURE' AND ROUTINE_SCHEMA = 'mynewdb'
"""

cur.execute(query)


result = cur.fetchall()

for row in result:
    print(row[0])

getbookinfobyauthorId
getbookinfosbyauthor
getbooksbyauthor
get_all_employees
get_emp_by_name
insert_employee
update_emp_salary

In [62]:
#delete a stored procedure

delete_procedure_query = "DROP PROCEDURE if exists update_emp_salary"
cur.execute(delete_procedure_query)

print("update_emp_salary procdure deleted")

update_emp_salary procdure deleted

**Triggers** - A trigger is a database object that automatically executes in response to certain events, such as insertions, updates or deletions on a specified table.
* It is useful for enforcing business rules, maintaining data integrity, and auditing changes to the database.

In [42]:
#create the update salary trigger

update_salary_trigger_query = """
create trigger update_salary_trigger
before update on employees
for each row
BEGIN
    if new.salary > old.salary then
        insert into salary_updates (employee_id,old_salary,new_salary,update_time)
        values (old.id,old.salary,new.salary,NOW());
    end if;
END
"""

cur.execute(update_salary_trigger_query)
print("Update salary trigger created")

Update salary trigger created

In [45]:
query = """
update employees
set salary = 65000.00
where id = 1
"""

cur.execute(query)

In [46]:
cur.callproc("get_all_employees")

for result in cur.stored_results():
    employee = result.fetchall()
    for emp in employee:
        print(emp)

(1, 'John Doe', Decimal('65000.00'))
(2, 'Bipul Kumar', Decimal('75000.25'))

In [61]:
#delete a trigger

delete_trigger_query = "DROP TRIGGER if exists update_salary_trigger"
cur.execute(delete_trigger_query)

print("trigger_deleted")

trigger_deleted