* **Create a data table - users**
* **Insert data samples**
* **create a trigger - whenever we insert a new record into the table (users) , a corresponding entry will automatically be inserted into the 'user_logs' table**

In [1]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

In [3]:
#Create a simple user data table

create_table_query = """
create table if not exists users(
id int auto_increment primary key,
name varchar(50),
email varchar(50)
)
"""

#Execute the query
cur.execute(create_table_query)

#Commit the changes
mydb.commit()

In [4]:
#Define insert query

insert_query = """
insert into users (name,email) values (%s,%s)
"""

#Sample data 
data = [
    ("Rahul","rahul@hello.com"),
    ("Jay","jay@abc.com"),
    ("Joy","joy@hello.com")
]

#excute insert query for each data row
for user in data:
    cur.execute(insert_query,user)

#Commit the changes
mydb.commit()

In [5]:
read_query = "select * from users"

cur.execute(read_query)

for result in cur:
    print(result)

(1, 'Rahul', 'rahul@hello.com')
(2, 'Jay', 'jay@abc.com')
(3, 'Joy', 'joy@hello.com')

In [9]:
read_query = "describe users"

cur.execute(read_query)

for result in cur:
    print(result)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(50)', 'YES', '', None, '')
('email', 'varchar(50)', 'YES', '', None, '')

**create a table user_logs which can store id autoincrement, user_id from users, action, timestamp (time if adding data)**

In [7]:
create_user_logs_query = """
create table if not exists user_logs(
    id int auto_increment primary key,
    user_id int,
    action varchar(50),
    timestamp TIMESTAMP default current_timestamp
    )
"""

cur.execute(create_user_logs_query)

mydb.commit()

In [8]:
read_query = "select * from user_logs"

cur.execute(read_query)

for result in cur:
    print(result)

In [10]:
read_query = "describe user_logs"

cur.execute(read_query)

for result in cur:
    print(result)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('user_id', 'int', 'YES', '', None, '')
('action', 'varchar(50)', 'YES', '', None, '')
('timestamp', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED')

**Triggers** - A trigger is a database object that automatically executes in response to certain events, such as insertions, updates or deletions on a specified table.
* It is useful for enforcing business rules, maintaining data integrity, and auditing changes to the database.

**We want to create a trigger that automatically inserts a record into another table whenever a new user is inserted into the "users" table**

In [11]:
#define a trigger query
create_trigger_query = """
create trigger user_log_insert
after insert on users
for each row
BEGIN
    insert into user_logs (user_id,action) values (new.id,'insert');
END
"""

cur.execute(create_trigger_query)
mydb.commit()
print("Trigger for User log created successfully")

Trigger for User log created successfully

In [12]:
#Define insert query

insert_query = """
insert into users (name,email) values (%s,%s)
"""

#Sample data 
data = [
    ("Ganesh","ganesh@hello.com"),
    ("Vijay","vijay@abc.com"),
    ("K.K","kk@hello.com")
]

#excute insert query for each data row
for user in data:
    cur.execute(insert_query,user)

#Commit the changes
mydb.commit()

In [13]:
read_query = "select * from users"

cur.execute(read_query)

for result in cur:
    print(result)

(1, 'Rahul', 'rahul@hello.com')
(2, 'Jay', 'jay@abc.com')
(3, 'Joy', 'joy@hello.com')
(4, 'Ganesh', 'ganesh@hello.com')
(5, 'Vijay', 'vijay@abc.com')
(6, 'K.K', 'kk@hello.com')

In [14]:
read_query = "select * from user_logs"

cur.execute(read_query)

for result in cur:
    print(result)

(1, 4, 'insert', datetime.datetime(2024, 5, 16, 19, 34, 14))
(2, 5, 'insert', datetime.datetime(2024, 5, 16, 19, 34, 14))
(3, 6, 'insert', datetime.datetime(2024, 5, 16, 19, 34, 14))

In [18]:
#create join query to show data from users and user_logs together

join_query = """
    select u.id,u.name,u.email, ul.timestamp from users u join user_logs ul
"""

cur.execute(join_query)

results = cur.fetchall()

for result in results:
    print(result)

(1, 'Rahul', 'rahul@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(1, 'Rahul', 'rahul@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(1, 'Rahul', 'rahul@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(2, 'Jay', 'jay@abc.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(2, 'Jay', 'jay@abc.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(2, 'Jay', 'jay@abc.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(3, 'Joy', 'joy@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(3, 'Joy', 'joy@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(3, 'Joy', 'joy@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(4, 'Ganesh', 'ganesh@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(4, 'Ganesh', 'ganesh@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(4, 'Ganesh', 'ganesh@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(5, 'Vijay', 'vijay@abc.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(5, 'Vijay', 'vijay@abc.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(5, 'Vijay', 'vijay@abc.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(6, 'K.K', 'kk@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(6, 'K.K', 'kk@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))
(6, 'K.K', 'kk@hello.com', datetime.datetime(2024, 5, 16, 19, 34, 14))