**We Will have two tables**
* **orders** and **order_logs**
* Whenever a new order is inserted into 'orders' table, a trigger will automatically insert a log entry into 'order_logs' table

In [1]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                              user = "root",
                              password = "725@Mysql",
                              database = "mynewdb")
cur = mydb.cursor()

In [2]:
#Define a create table query

create_orders_table_query = """
create table if not exists orders(
    id int auto_increment primary key,
    product varchar(50),
    quantity int,
    total_price decimal(10,2)
    )
"""

cur.execute(create_orders_table_query)
mydb.commit()

In [3]:
#Define insert query
insert_order_query = """
insert into orders(product,quantity,total_price) values(%s,%s,%s)
"""

order_data = [("Laptop",2,2000.00),("Mouse",5,100.00),("Keyboard",3,200.00)]
cur.executemany(insert_order_query,order_data)
mydb.commit()
print("Orders Updated")

Orders Updated

In [4]:
read_query = "select * from orders"

cur.execute(read_query)

for result in cur:
    print(result)

(1, 'Laptop', 2, Decimal('2000.00'))
(2, 'Mouse', 5, Decimal('100.00'))
(3, 'Keyboard', 3, Decimal('200.00'))

In [5]:
#define a table order logs

create_order_logs_query = """
create table if not exists order_logs(
    id int primary key auto_increment,
    order_id int,
    action varchar(50),
    timestamp TIMESTAMP default current_timestamp
)
"""

cur.execute(create_order_logs_query)
mydb.commit()

* create a trigger that can automatically updates order_logs whenever a new entry is made into the orders table

In [6]:
#create trigger query

create_order_log_trigger = """
create trigger orders_after_insert
after insert on orders
for each row
BEGIN
    insert into order_logs (order_id,action) values (new.id , 'insert');
END
"""

cur.execute(create_order_log_trigger)
mydb.commit()

In [7]:
#Define insert query
insert_order_query = """
insert into orders(product,quantity,total_price) values(%s,%s,%s)
"""

order_data = [("SmartPhone",6,1000.00),("HeadPhone",7,150.00),("Tablet",2,700.00)]
cur.executemany(insert_order_query,order_data)
mydb.commit()
print("Orders Updated")

Orders Updated

In [8]:
read_query = "select * from orders"

cur.execute(read_query)

for result in cur:
    print(result)

(1, 'Laptop', 2, Decimal('2000.00'))
(2, 'Mouse', 5, Decimal('100.00'))
(3, 'Keyboard', 3, Decimal('200.00'))
(4, 'SmartPhone', 6, Decimal('1000.00'))
(5, 'HeadPhone', 7, Decimal('150.00'))
(6, 'Tablet', 2, Decimal('700.00'))

In [9]:
read_query = "select * from order_logs"

cur.execute(read_query)

for result in cur:
    print(result)

(1, 4, 'insert', datetime.datetime(2024, 5, 16, 20, 21, 11))
(2, 5, 'insert', datetime.datetime(2024, 5, 16, 20, 21, 11))
(3, 6, 'insert', datetime.datetime(2024, 5, 16, 20, 21, 11))

In [12]:
#Join query to read information from orders & order_logs together

join_query_to_read = """
select o.id,o.product,o.quantity,o.total_price, ol.timestamp 
from orders o 
join order_logs ol 
on o.id = ol.order_id
"""

cur.execute(join_query_to_read)

for result in cur:
    print(result)

(4, 'SmartPhone', 6, Decimal('1000.00'), datetime.datetime(2024, 5, 16, 20, 21, 11))
(5, 'HeadPhone', 7, Decimal('150.00'), datetime.datetime(2024, 5, 16, 20, 21, 11))
(6, 'Tablet', 2, Decimal('700.00'), datetime.datetime(2024, 5, 16, 20, 21, 11))

**create a trigger which can apply a discount of 10% befor adding total price into data table if quantity is more then 5**

In [13]:
#define the trigger

create_discount_trigger = """
    create trigger apply_discount
    before insert on orders
    for each row
    BEGIN
        if new.quantity >= 5 then
            set new.total_price = 0.9*new.total_price;
        end if;
    END
"""

cur.execute(create_discount_trigger)
mydb.commit()

In [ ]:
new_order_data = [("Monitor",6,1400),("Table",3,800)]

for row in new_order_data:
    cur.execute()