In [1]:
print("Hello World")

Hello World

In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp39-cp39-win_amd64.whl (15.4 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

WARNING: You are using pip version 20.2.3; however, version 24.0 is available.
You should consider upgrading via the 'c:\users\training\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [5]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost",
                               user = "root",
                               password = "725@Mysql")

print(mydb.connection_id)

21

In [6]:
cur = mydb.cursor()  #object to execute sql queries

In [7]:
cur.execute("show databases")

In [8]:
for databases in cur:
    print(databases)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('tka_db1',)
('world',)

In [9]:
cur.execute("use tka_db1")

In [10]:
cur.execute("show tables")

In [11]:
for table in cur:
    print(table)

('table1',)
('table2',)

In [12]:
cur.execute("describe table2")

In [13]:
for detail in cur:
    print(detail)

('id', 'int', 'NO', '', None, '')
('name', 'varchar(20)', 'YES', '', None, '')
('email', 'varchar(40)', 'YES', '', None, '')

In [14]:
cur.execute("select * from table1")

In [15]:
for data in cur:
    print(data)

(1, 'B', 'b')

In [16]:
cur.execute("select * from table2")

In [17]:
for data in cur:
    print(data)

(1, 'Bipul', 'bipul@abc.com')

In [18]:
cur.execute("create database tka_db2")

In [19]:
cur.execute("show databases")

In [20]:
for db in cur:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('tka_db1',)
('tka_db2',)
('world',)

In [22]:
cur.execute("use tka_db2")

In [68]:
mydb = mysql.connector.connect(host = "localhost",
                               user = "root",
                               password = "725@Mysql",
                              database = "tka_db2")

cur = mydb.cursor()

In [25]:
s = "create table newbook (bookid integer(4) , title varchar(20) , price float(5,2))"
cur.execute(s)
mydb.commit()
print("Data Table newbook is created in tka_db2 to store data")

Data Table newbook is created in tka_db2 to store data

In [26]:
s = "insert into newbook (bookid,title,price) values (%s,%s,%s)"
value = (2,"PHP",250)
cur.execute(s,value)
mydb.commit()
print("value added into the table")

value added into the table

In [27]:
s = "insert into newbook (bookid,title,price) values (%s,%s,%s)"
value = [(3,"Python",210) , (4,"HTML",190) , (5,"Java",220)]
cur.executemany(s,value)
mydb.commit()
print("Multiple values added into the table")

Multiple values added into the table

In [28]:
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
print(result)

[(2, 'PHP', 250.0), (3, 'Python', 210.0), (4, 'HTML', 190.0), (5, 'Java', 220.0)]

In [30]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp39-cp39-win_amd64.whl (11.6 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Collecting numpy>=1.22.4; python_version < "3.11"
  Downloading numpy-1.26.4-cp39-cp39-win_amd64.whl (15.8 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\training\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\training\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

WARNING: You are using pip version 20.2.3; however, version 24.0 is available.
You should consider upgrading via the 'c:\users\training\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [33]:
import pandas as pd

df = pd.DataFrame(result , columns = ['bookid','book_name','price'])
df

   bookid book_name  price
0       2       PHP  250.0
1       3    Python  210.0
2       4      HTML  190.0
3       5      Java  220.0

In [35]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

WARNING: You are using pip version 20.2.3; however, version 24.0 is available.
You should consider upgrading via the 'c:\users\training\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [36]:
df.to_excel('mydata.xlsx')

In [37]:
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
    print(res)

(2, 'PHP', 250.0)
(3, 'Python', 210.0)
(4, 'HTML', 190.0)
(5, 'Java', 220.0)

In [38]:
s = "update newbook set price = price + 10"
cur.execute(s)
mydb.commit()
print("price value updated")

price value updated

In [39]:
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
    print(res)

(2, 'PHP', 260.0)
(3, 'Python', 220.0)
(4, 'HTML', 200.0)
(5, 'Java', 230.0)

In [40]:
s = "update newbook set price = price + 10 where bookid = 3"
cur.execute(s)
mydb.commit()
print("price value updated")

price value updated

In [41]:
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
    print(res)

(2, 'PHP', 260.0)
(3, 'Python', 230.0)
(4, 'HTML', 200.0)
(5, 'Java', 230.0)

In [43]:
cur.execute("describe newbook")
for detail in cur:
    print(detail)

('bookid', 'int', 'YES', '', None, '')
('title', 'varchar(20)', 'YES', '', None, '')
('price', 'float(5,2)', 'YES', '', None, '')

In [44]:
s = "delete from newbook where title = 'HTML'"
cur.execute(s)
mydb.commit()
print("HTML book details deleted")

HTML book details deleted

In [45]:
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
    print(res)

(2, 'PHP', 260.0)
(3, 'Python', 230.0)
(5, 'Java', 230.0)

In [57]:
s = "insert into newbook (bookid,title,price) values (%s,%s,%s)"
value = [(3,"Python",210) , (4,"HTML",190) , (5,"Java",220)]
cur.executemany(s,value)
mydb.commit()
print("Multiple values added into the table")

Multiple values added into the table

In [58]:
s = "select * from newbook"
cur.execute(s)
result = cur.fetchall()
for res in result:
    print(res)

(2, 'PHP', 260.0)
(3, 'Python', 230.0)
(5, 'Java', 230.0)
(3, 'Python', 210.0)
(4, 'HTML', 190.0)
(5, 'Java', 220.0)
(3, 'Python', 210.0)
(4, 'HTML', 190.0)
(5, 'Java', 220.0)

In [49]:
s = "create table newbook2 like newbook"
cur.execute(s)
print("newbook is copied into newbook2")

newbook is copied into newbook2

In [52]:
s = "select * from newbook2"
cur.execute(s)
result = cur.fetchall()
for res in result:
    print(res)

In [59]:
s = "create table newbook3  as select distinct bookid,title,price from newbook"
cur.execute(s)
print("newbook3 is created with no duplicate values")

newbook3 is created with no duplicate values

In [60]:
s = "select * from newbook3"
cur.execute(s)
result = cur.fetchall()
for res in result:
    print(res)

(2, 'PHP', 260.0)
(3, 'Python', 230.0)
(5, 'Java', 230.0)
(3, 'Python', 210.0)
(4, 'HTML', 190.0)
(5, 'Java', 220.0)

In [61]:
s = "create table newbook4  as select bookid,title,price from newbook"
cur.execute(s)
print("newbook4 is created with no duplicate values")

newbook3 is created with no duplicate values

In [62]:
s = "select * from newbook4"
cur.execute(s)
result = cur.fetchall()
for res in result:
    print(res)

(2, 'PHP', 260.0)
(3, 'Python', 230.0)
(5, 'Java', 230.0)
(3, 'Python', 210.0)
(4, 'HTML', 190.0)
(5, 'Java', 220.0)
(3, 'Python', 210.0)
(4, 'HTML', 190.0)
(5, 'Java', 220.0)

In [63]:
s = "alter table newbook add column quantity integer(4)"
cur.execute(s)

cur.execute("select * from newbook")
for data in cur:
    print(data)

(2, 'PHP', 260.0, None)
(3, 'Python', 230.0, None)
(5, 'Java', 230.0, None)
(3, 'Python', 210.0, None)
(4, 'HTML', 190.0, None)
(5, 'Java', 220.0, None)
(3, 'Python', 210.0, None)
(4, 'HTML', 190.0, None)
(5, 'Java', 220.0, None)

In [69]:

cur.execute("select * from newbook")
for data in cur:
    print(data)

(2, 'PHP', 260.0, None)
(3, 'Python', 230.0, None)
(5, 'Java', 230.0, None)
(3, 'Python', 210.0, None)
(4, 'HTML', 190.0, None)
(5, 'Java', 220.0, None)
(3, 'Python', 210.0, None)
(4, 'HTML', 190.0, None)
(5, 'Java', 220.0, None)

In [70]:
cur.execute("describe newbook")
for detail in cur:
    print(detail)

('bookid', 'int', 'YES', '', None, '')
('title', 'varchar(20)', 'YES', '', None, '')
('price', 'float(5,2)', 'YES', '', None, '')
('quantity', 'int', 'YES', '', None, '')

In [ ]:
s = "alter table newbook add column sales float(4) after price"
cur.execute(s)

mydb.commit()

cur.execute("describe newbook")
for detail in cur:
    print(detail)